@import "./sass/breakPoints";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "customFont";
  src: url("/public/fonts/NeueHaasUnica-Black.ttf");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "customFont", sans-serif;
  font-weight: 400;
  background-color: rgb(245 245 248);
}

main {
  width: 100%;
  max-width: 860px;
  margin-top: 130px;
}

.main-grid {
  max-width: 1920px;
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  row-gap: 20px;
  column-gap: 20px;

  @include lg {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include md {
    grid-template-columns: 1fr 1fr;
  }

  @include sm {
    grid-template-columns: 1fr;
  }
}
